* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: #111;
    padding: 20px;
    margin: auto;
    width: 70%;
    margin-bottom: 15px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2 {
    color: white;
    font-size: 1.5em;
}

p {
    margin-top: 10px;
    color: #B2B2B2;
}

strong {
    color: #FEBE01;
}

p strong {
    font-weight: normal;
}

a {
    text-decoration: none;
    background-color: #FEBE01;
    color: #332200;
    padding: 8px;
    border-radius: 4px;
    margin-top: 10px;

    display: inline-block;
}
